## Import Libraries

In [1]:
import pandas as pd
import re
import numpy as np
import json
already_multiplied = False

## Extract Data

In [2]:
orders = pd.read_csv("data/orders_2016.csv", encoding="latin-1",delimiter=";")
order_details = pd.read_csv("data/order_details_2016.csv", encoding="latin-1",delimiter=";")
pizza_ingredients = pd.read_csv("data/pizza_types.csv", encoding="latin-1")

### Informe Calidad de Datos

In [3]:
informe = {"orders":{},"order_details":{},"pizza_types":{}}

#### orders.csv

In [4]:
informe["orders"]["desciption"] = "csv with every order made in 2016"
informe["orders"]["n_rows"] = orders.shape[0]
informe["orders"]["n_columns"] = orders.shape[1]
informe["orders"]["columns"] = {}
orders.head()

   order_id                        date      time
0      8886                 May 29 2016  18:58 PM
1     11424                  2016-07-10  14:36:32
2     19361  Saturday,26 November, 2016  18:42 PM
3      4489                  2016-03-17       NaN
4      6838                         NaN  15:09:12

order_id

In [5]:
informe["orders"]["columns"]["order_id"] = {}
informe["orders"]["columns"]["order_id"]["description"] = "unique id for each order"
informe["orders"]["columns"]["order_id"]["n_nulls"] = orders["order_id"].isnull().sum()
informe["orders"]["columns"]["order_id"]["n_unique"] = orders["order_id"].nunique()

date

In [6]:
informe["orders"]["columns"]["date"] = {}
informe["orders"]["columns"]["date"]["description"] = "date of the order"
informe["orders"]["columns"]["date"]["n_nulls"] = orders["date"].isnull().sum()
informe["orders"]["columns"]["date"]["n_unique"] = orders["date"].nunique()

time

In [7]:
informe["orders"]["columns"]["time"] = {}
informe["orders"]["columns"]["time"]["description"] = "exact time of the order"
informe["orders"]["columns"]["time"]["n_nulls"] = orders["time"].isnull().sum()
informe["orders"]["columns"]["time"]["n_unique"] = orders["time"].nunique()

#### order_details.csv

In [8]:
informe["order_details"]["desciption"] = "csv with information about each order made in 2016"
informe["order_details"]["n_rows"] = order_details.shape[0]
informe["order_details"]["n_columns"] = order_details.shape[1]
informe["order_details"]["columns"] = {}
order_details.head()

   order_details_id  order_id        pizza_id quantity
0             21671      9513      cali-ckn-m      NaN
1             17259      7591  green garden s        1
2             19844      8724    the-greek-xl        1
3             24185     10625             NaN        1
4             13779      6037      thai_ckn_m        1

order_details_id

In [9]:
informe["order_details"]["columns"]["order_details_id"] = {}
informe["order_details"]["columns"]["order_details_id"]["description"] = "unique id for each pizza in each order"
informe["order_details"]["columns"]["order_details_id"]["n_nulls"] = order_details["order_details_id"].isnull().sum()
informe["order_details"]["columns"]["order_details_id"]["n_unique"] = order_details["order_details_id"].nunique()

order_id

In [10]:
informe["order_details"]["columns"]["order_id"] = {}
informe["order_details"]["columns"]["order_id"]["description"] = "unique id for each order"
informe["order_details"]["columns"]["order_id"]["n_nulls"] = order_details["order_id"].isnull().sum()
informe["order_details"]["columns"]["order_id"]["n_unique"] = order_details["order_id"].nunique()

pizza_id

In [11]:
informe["order_details"]["columns"]["pizza_id"] = {}
informe["order_details"]["columns"]["pizza_id"]["description"] = "unique id for each pizza and size"
informe["order_details"]["columns"]["pizza_id"]["n_nulls"] = order_details["pizza_id"].isnull().sum()
informe["order_details"]["columns"]["pizza_id"]["n_unique"] = order_details["pizza_id"].nunique()

quantity

In [12]:
informe["order_details"]["columns"]["quantity"] = {}
informe["order_details"]["columns"]["quantity"]["description"] = "number of pizzas ordered"
informe["order_details"]["columns"]["quantity"]["n_nulls"] = order_details["quantity"].isnull().sum()
informe["order_details"]["columns"]["quantity"]["n_unique"] = order_details["quantity"].nunique()

### pizza_types.csv

In [13]:
informe["pizza_types"]["desciption"] = "csv with information about each pizza and its ingredients"
informe["pizza_types"]["n_rows"] = pizza_ingredients.shape[0]
informe["pizza_types"]["n_columns"] = pizza_ingredients.shape[1]
informe["pizza_types"]["columns"] = {}
pizza_ingredients.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

pizza_type_id

In [14]:
informe["pizza_types"]["columns"]["pizza_type_id"] = {}
informe["pizza_types"]["columns"]["pizza_type_id"]["description"] = "unique id for each pizza without size"
informe["pizza_types"]["columns"]["pizza_type_id"]["n_nulls"] = pizza_ingredients["pizza_type_id"].isnull().sum()
informe["pizza_types"]["columns"]["pizza_type_id"]["n_unique"] = pizza_ingredients["pizza_type_id"].nunique()

name

In [15]:
informe["pizza_types"]["columns"]["name"] = {}
informe["pizza_types"]["columns"]["name"]["description"] = "full name of the pizza"
informe["pizza_types"]["columns"]["name"]["n_nulls"] = pizza_ingredients["name"].isnull().sum()
informe["pizza_types"]["columns"]["name"]["n_unique"] = pizza_ingredients["name"].nunique()

category

In [16]:
informe["pizza_types"]["columns"]["category"] = {}
informe["pizza_types"]["columns"]["category"]["description"] = "category of the pizza"
informe["pizza_types"]["columns"]["category"]["n_nulls"] = pizza_ingredients["category"].isnull().sum()
informe["pizza_types"]["columns"]["category"]["n_unique"] = pizza_ingredients["category"].nunique()

ingredients

In [17]:
informe["pizza_types"]["columns"]["ingredients"] = {}
informe["pizza_types"]["columns"]["ingredients"]["description"] = "ingredients of the pizza"
informe["pizza_types"]["columns"]["ingredients"]["n_nulls"] = pizza_ingredients["ingredients"].isnull().sum()
informe["pizza_types"]["columns"]["ingredients"]["n_unique"] = pizza_ingredients["ingredients"].nunique()

### Save Report in JSON

In [18]:
'''parse every int64 to python int'''
def recursive_int64_to_int(x):
    if isinstance(x, dict):
        for key, value in x.items():
            x[key] = recursive_int64_to_int(value)
    elif isinstance(x, np.int64) or isinstance(x, np.int32):
        x = int(x)
    return x

informe = recursive_int64_to_int(informe)

json.dump(informe, open("informe_calidad_datos.json", "w"))

## Transform Data

- The task is to predict a ingredient distribution for a given day.  
- To achieve that, the best way to store the data would be as a dataframe with dates
as index and ingredients as columns,  
 so that each row is an ingredient distribution of that date, and can thus the dataframe can be directly used as the X data matrix in our model later on.

### Parse Types, Clean Data and Remove Irrelevant information

## Clean orders.csv

In [19]:
'''Remove nans and irrelevant column time'''
if "time" in orders.columns:
    orders.drop(columns=["time"], inplace=True)
orders.dropna(inplace=True)
orders

       order_id                        date
0          8886                 May 29 2016
1         11424                  2016-07-10
2         19361  Saturday,26 November, 2016
3          4489                  2016-03-17
5          7112                 Apr 30 2016
...         ...                         ...
21345      1989   Tuesday,02 February, 2016
21346      3795                  Mar 5 2016
21347      6474           19-04-16 16:20:01
21348     20125                  2016-12-08
21349      3602           02-03-16 14:43:05

[18997 rows x 2 columns]

In [20]:
orders.isnull().sum()

order_id    0
date        0
dtype: int64

In [21]:
'''Parse dates'''
def parse_date(date):
    try:
        '''time zone CEST'''
        return pd.to_datetime(date)+pd.Timedelta(hours=1)
    except Exception as e:
        return pd.to_datetime(date,unit='s')+pd.Timedelta(hours=1)
    
orders["date"] = orders["date"].apply(parse_date).dt.date
'''sorted dates'''
orders.sort_values(by="date", inplace=True)
orders

       order_id        date
4160         13  2016-01-01
4537          5  2016-01-01
12764        47  2016-01-01
9548         62  2016-01-01
16677        67  2016-01-01
...         ...         ...
13508     21300  2016-12-31
19223     21322  2016-12-31
13876     21345  2016-12-31
16286     21341  2016-12-31
10694     21304  2016-12-31

[18997 rows x 2 columns]

In [22]:
orders.to_csv("data/orders_2016_clean.csv", index=False)

## Clean order_details.csv

In [23]:
'''Remove nans and irrelevant column order_details_id'''
if "order_details_id" in order_details.columns:
    order_details.drop(columns=["order_details_id"], inplace=True)
order_details.dropna(inplace=True)
order_details

       order_id        pizza_id quantity
1          7591  green garden s        1
2          8724    the-greek-xl        1
4          6037      thai_ckn_m        1
5         10908      thai-ckn-m        1
6          1684       bbq_ckn_l        1
...         ...             ...      ...
48613     15877   soppressata m        1
48614     14052   classic dlx m      one
48616     10731     the_greek_m        1
48617     13858   classic_dlx_l      One
48619     14321      cali-ckn-l        1

[38783 rows x 3 columns]

In [24]:
'''explore pizza_id'''
order_details["pizza_id"].value_counts()

big_meat_s        893
five_cheese_l     709
thai_ckn_l        670
four_cheese_l     611
classic_dlx_m     566
                 ...
peppr s@l@mi s      1
spin@ch_f3t_s       1
s0ppress@t@ m       1
c@l@br3s3 l         1
c@l@brese-l         1
Name: pizza_id, Length: 698, dtype: int64

In [25]:
'''find non alphabetical characters in pizza_id'''
non_alpha_pattern = re.compile(r"[^a-z _-]")
non_alpha=set()
for pizza_id in order_details["pizza_id"]:
    non_alpha.update(non_alpha_pattern.findall(pizza_id))
non_alpha

{'0', '3', '@'}

In [26]:
'''parse pizza_id'''
def parse_pizza_id(pizza_id):
    pid=re.sub(r"[- ]", "_", pizza_id)
    pid=re.sub(r"0", "o", pid)
    pid=re.sub(r"@", "a", pid)
    pid=re.sub(r"3", "e", pid)
    return pid.lower()

order_details["pizza_id"] = order_details["pizza_id"].apply(parse_pizza_id)
order_details

       order_id        pizza_id quantity
1          7591  green_garden_s        1
2          8724    the_greek_xl        1
4          6037      thai_ckn_m        1
5         10908      thai_ckn_m        1
6          1684       bbq_ckn_l        1
...         ...             ...      ...
48613     15877   soppressata_m        1
48614     14052   classic_dlx_m      one
48616     10731     the_greek_m        1
48617     13858   classic_dlx_l      One
48619     14321      cali_ckn_l        1

[38783 rows x 3 columns]

In [27]:
'''explore quantity'''
order_details["quantity"].value_counts()

1      30538
one     4610
One     1655
-1      1223
2        694
-2        27
3         19
two       14
4          3
Name: quantity, dtype: int64

In [28]:
'''Parse quantity'''
nums={"1":1,"one":1,"-1":float('nan'),"2":2,"-2":float('nan'),"3":3,"two":2,"4":4}
def parse_quantity(quantity):
    return nums[str(quantity).lower()] if type(quantity)==str else quantity
order_details["quantity"] = order_details["quantity"].apply(parse_quantity)
order_details.dropna(inplace=True)
order_details["quantity"].value_counts()

1.0    36803
2.0      708
3.0       19
4.0        3
Name: quantity, dtype: int64

In [29]:
order_details

       order_id        pizza_id  quantity
1          7591  green_garden_s       1.0
2          8724    the_greek_xl       1.0
4          6037      thai_ckn_m       1.0
5         10908      thai_ckn_m       1.0
6          1684       bbq_ckn_l       1.0
...         ...             ...       ...
48613     15877   soppressata_m       1.0
48614     14052   classic_dlx_m       1.0
48616     10731     the_greek_m       1.0
48617     13858   classic_dlx_l       1.0
48619     14321      cali_ckn_l       1.0

[37533 rows x 3 columns]

In [30]:
order_details.to_csv("data/order_details_2016_clean.csv", index=False)

### Clean pizza_types.csv

In [31]:
pizza_ingredients.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [32]:
pizza_ingredients["ingredients"]=pizza_ingredients["ingredients"].str.replace("ï¿½","")
pizza_ingredients["ingredients"]=pizza_ingredients["ingredients"].str.replace("Artichokes","Artichoke")

In [33]:
pizza_ingredients.to_csv("data/pizza_types_2016_clean.csv", index=False)

### Build ingredients_per_day Dataframe

Split pizza id into name and size

In [34]:
if "pizza_id" in order_details.columns:
    size_pattern = re.compile(r"_([smlx]+)$")
    order_details["pizza"] = order_details["pizza_id"].apply(lambda x: re.sub(size_pattern, "", x))
    order_details["size"] = order_details["pizza_id"].apply(lambda x: re.search(size_pattern, x).group(1))
    order_details.drop(columns=["pizza_id"], inplace=True)

In [35]:
order_details.head(3)

   order_id  quantity         pizza size
1      7591       1.0  green_garden    s
2      8724       1.0     the_greek   xl
4      6037       1.0      thai_ckn    m

Add dates

In [36]:
if not "date" in order_details.columns:
    order_details=order_details.merge(orders, on="order_id", how="left")

In [37]:
order_details.head(3)

   order_id  quantity         pizza size        date
0      7591       1.0  green_garden    s  2016-08-05
1      8724       1.0     the_greek   xl  2016-05-26
2      6037       1.0      thai_ckn    m  2016-04-12

Add ingredients columns

In [38]:
'''Dictionary with each pizza and the ingredients it has.'''
pizza_ingredients_dict = {}
for index, row in pizza_ingredients.iterrows():
    pizza_ingredients_dict[row["pizza_type_id"]] = {}
    for ingredient in row["ingredients"].split(","):
        pizza_ingredients_dict[row["pizza_type_id"]][ingredient.strip()] = 1
pizza_ingredients_dict['bbq_ckn']

{'Barbecued Chicken': 1,
 'Red Peppers': 1,
 'Green Peppers': 1,
 'Tomatoes': 1,
 'Red Onions': 1,
 'Barbecue Sauce': 1}

In [39]:
'''Set with all the ingredients.'''
ingredients_set = set()
for pizza in pizza_ingredients_dict:
    ingredients_set.update(pizza_ingredients_dict[pizza])
sorted(list(ingredients_set))

['Alfredo Sauce',
 'Anchovies',
 'Artichoke',
 'Arugula',
 'Asiago Cheese',
 'Bacon',
 'Barbecue Sauce',
 'Barbecued Chicken',
 'Beef Chuck Roast',
 'Blue Cheese',
 'Brie Carre Cheese',
 'Calabrese Salami',
 'Capocollo',
 'Caramelized Onions',
 'Chicken',
 'Chipotle Sauce',
 'Chorizo Sausage',
 'Cilantro',
 'Coarse Sicilian Salami',
 'Corn',
 'Eggplant',
 'Feta Cheese',
 'Fontina Cheese',
 'Friggitello Peppers',
 'Garlic',
 'Genoa Salami',
 'Goat Cheese',
 'Gorgonzola Piccante Cheese',
 'Gouda Cheese',
 'Green Olives',
 'Green Peppers',
 'Italian Sausage',
 'Jalapeno Peppers',
 'Kalamata Olives',
 'Luganega Sausage',
 'Mozzarella Cheese',
 'Mushrooms',
 'Nduja Salami',
 'Onions',
 'Oregano',
 'Pancetta',
 'Parmigiano Reggiano Cheese',
 'Pears',
 'Peperoncini verdi',
 'Pepperoni',
 'Pesto Sauce',
 'Pineapple',
 'Plum Tomatoes',
 'Prosciutto',
 'Prosciutto di San Daniele',
 'Provolone Cheese',
 'Red Onions',
 'Red Peppers',
 'Ricotta Cheese',
 'Romano Cheese',
 'Sliced Ham',
 'Smoked Gouda Cheese',
 'Soppressata Salami',
 'Spinach',
 'Sun-dried Tomatoes',
 'Thai Sweet Chilli Sauce',
 'Thyme',
 'Tomatoes',
 'Zucchini']

In [40]:
for ing in ingredients_set:
    order_details[ing] = order_details["pizza"].apply(lambda x: pizza_ingredients_dict[x].get(ing, 0))

In [41]:
order_details.head(3)

,order_id,quantity,pizza,size,date,Green Peppers,Chipotle Sauce,Romano Cheese,Friggitello Peppers,Pears,...,Pancetta,Fontina Cheese,Garlic,Gouda Cheese,Pepperoni,Blue Cheese,Peperoncini verdi,Cilantro,Thai Sweet Chilli Sauce,Green Olives
0,7591,1.0,green_garden,s,2016-08-05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,8724,1.0,the_greek,xl,2016-05-26,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,6037,1.0,thai_ckn,m,2016-04-12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Weight each ingredient by pizza size

In [42]:
size_weights = {"s": 1, "m": 2, "l": 3, "xl": 4, "xxl": 5}
order_details["num_size"] = order_details["size"].apply(lambda x: size_weights[x])

In [43]:
if not already_multiplied:
    for ing in ingredients_set:
        order_details[ing] = order_details[ing] * order_details["quantity"] * order_details["num_size"]
    already_multiplied = True
order_details.head(3)

,order_id,quantity,pizza,size,date,Green Peppers,Chipotle Sauce,Romano Cheese,Friggitello Peppers,Pears,...,Fontina Cheese,Garlic,Gouda Cheese,Pepperoni,Blue Cheese,Peperoncini verdi,Cilantro,Thai Sweet Chilli Sauce,Green Olives,num_size
0,7591,1.0,green_garden,s,2016-08-05,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,8724,1.0,the_greek,xl,2016-05-26,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
2,6037,1.0,thai_ckn,m,2016-04-12,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2

In [44]:
'''Dataframe with ingredients for each day.'''
columns = ["date"] + list(ingredients_set)
ingredients_per_day = order_details[columns].groupby("date").sum()

In [45]:
'''Sort ingredient columns by alphabetical order.'''
ingredients_per_day = ingredients_per_day.reindex(sorted(ingredients_per_day.columns), axis=1)

In [46]:
ingredients_per_day.head(3)

,Alfredo Sauce,Anchovies,Artichoke,Arugula,Asiago Cheese,Bacon,Barbecue Sauce,Barbecued Chicken,Beef Chuck Roast,Blue Cheese,...,Romano Cheese,Sliced Ham,Smoked Gouda Cheese,Soppressata Salami,Spinach,Sun-dried Tomatoes,Thai Sweet Chilli Sauce,Thyme,Tomatoes,Zucchini
date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,3.0,4.0,24.0,2.0,12.0,22.0,18.0,18.0,6.0,15.0,...,15.0,6.0,15.0,3.0,33.0,10.0,13.0,0.0,139.0,7.0
2016-01-02,0.0,11.0,55.0,6.0,8.0,16.0,13.0,13.0,10.0,12.0,...,12.0,11.0,12.0,11.0,39.0,6.0,19.0,0.0,165.0,15.0
2016-01-03,3.0,3.0,48.0,11.0,12.0,12.0,16.0,16.0,8.0,12.0,...,12.0,12.0,12.0,3.0,53.0,12.0,12.0,1.0,127.0,18.0

## Load

In [47]:
ingredients_per_day.to_csv("data/ingredients_per_day_2016.csv")